@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 p,h1,h2,h3,h4,h5,h6 {
   font-family: "Poppins"
 }
 html{
  background-color: aliceblue;
 }

 .file-upload-container {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #f5f5f5;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 .file-upload-label {
   display: flex;
   align-items: center;
   cursor: pointer;
   font-size: 16px;
   color: #666;
   transition: color 0.3s ease;
   width: 100%;
 }

 .file-upload-label i {
   margin-right: 8px;
   font-size: 24px;
 }

 .file-upload-label:hover {
   color: #333;
 }

 .file-name {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   flex-grow: 1;
 }

 .file-upload-input {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
 }

 .file-upload-button {
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 4px;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .file-upload-button:hover {
   background-color: #0056b3;
 }